/* http://prismjs.com/download.html?themes=prism-okaidia&languages=markup+handlebars */
/**
 * okaidia theme for JavaScript, CSS and HTML
 * Loosely based on Monokai textmate theme by http://www.monokai.nl/
 * @author ocodia
 */
code[class*="language-"],
pre[class*="language-"] {
  color: #f8f8f2;
  background: none;
  text-shadow: 0 1px rgba(0, 0, 0, 0.3);
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none; }

/* Code blocks */
pre[class*="language-"] {
  padding: 1em;
  margin: 0;
  overflow: auto;
  border-radius: 0.3em;
  border-top-left-radius: 0; }

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  background: #272822; }

/* Inline code */
:not(pre) > code[class*="language-"] {
  padding: .1em;
  border-radius: .3em;
  white-space: normal; }

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: slategray; }

.token.punctuation {
  color: #f8f8f2; }

.namespace {
  opacity: .7; }

.token.property,
.token.tag,
.token.constant,
.token.symbol,
.token.deleted {
  color: #f92672; }

.token.boolean,
.token.number {
  color: #ae81ff; }

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: #a6e22e; }

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable {
  color: #f8f8f2; }

.token.atrule,
.token.attr-value,
.token.function {
  color: #e6db74; }

.token.keyword {
  color: #66d9ef; }

.token.regex,
.token.important {
  color: #fd971f; }

.token.important,
.token.bold {
  font-weight: bold; }

.token.italic {
  font-style: italic; }

.token.entity {
  cursor: help; }

.fa span {
  display: none; }

.neutron-code-frame *,
.neutron-patterns-menu * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box; }

.neutron-code-frame a:not(.fa),
.neutron-code-frame p,
.neutron-patterns-menu a:not(.fa),
.neutron-patterns-menu p {
  font-family: Arial, sans-serif; }

.neutron-code-frame a,
.neutron-patterns-menu a {
  text-decoration: none; }

.neutron-start-button {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 33px;
  height: 33px;
  color: white;
  text-align: center;
  background-color: #333;
  line-height: 33px !important;
  z-index: 2;
  text-decoration: none !important; }
  .neutron-start-button span {
    display: none; }

.neutron-navigation {
  position: fixed;
  bottom: 0;
  left: -105px;
  z-index: 1; }
  .neutron-navigation.active {
    left: 35px; }
  .neutron-navigation a {
    float: left;
    display: block;
    width: 33px;
    height: 33px;
    background-color: #333;
    color: white;
    text-align: center;
    line-height: 33px;
    margin-left: 2px;
    text-decoration: none !important; }
    .neutron-navigation a:first-child {
      margin-left: 0; }
    .neutron-navigation a.active {
      color: orange; }
    .neutron-navigation a.disabled {
      cursor: default;
      color: #666; }

.neutron-start-button,
.neutron-navigation {
  -webkit-transition: bottom 0.5s ease-out;
  -moz-transition: bottom 0.5s ease-out;
  -ms-transition: bottom 0.5s ease-out;
  transition: bottom 0.5s ease-out;
  -webkit-transition: left 0.5s ease-out;
  -moz-transition: left 0.5s ease-out;
  -ms-transition: left 0.5s ease-out;
  transition: left 0.5s ease-out; }
  .neutron-start-button.neutron-frame-active,
  .neutron-navigation.neutron-frame-active {
    bottom: calc(50% + 2px); }

.neutron-patterns-menu,
.neutron-patterns-menu ul {
  list-style: none;
  margin: 0;
  padding: 0; }
  .neutron-patterns-menu [data-item] > a,
  .neutron-patterns-menu ul [data-item] > a {
    color: #CCC;
    text-transform: uppercase; }
  .neutron-patterns-menu li,
  .neutron-patterns-menu ul li {
    padding-left: 5px; }
    .neutron-patterns-menu li a,
    .neutron-patterns-menu ul li a {
      font-family: Arial, sans-serif;
      display: block;
      padding: 5px;
      color: orange; }

.neutron-patterns-menu {
  width: 173px;
  position: fixed;
  top: 0;
  left: -173px;
  height: calc(100% - 35px);
  overflow: auto;
  background-color: #333;
  margin: 0;
  color: #CCC;
  -webkit-transition: height 0.5s;
  -moz-transition: height 0.5s;
  -ms-transition: height 0.5s;
  transition: height 0.5s;
  -webkit-transition: left 0.5s ease-out;
  -moz-transition: left 0.5s ease-out;
  -ms-transition: left 0.5s ease-out;
  transition: left 0.5s ease-out;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box; }
  .neutron-patterns-menu.active {
    left: 0; }
  .neutron-patterns-menu.neutron-frame-active {
    height: calc(50% - 37px); }
  .neutron-patterns-menu ul {
    display: none; }
    .neutron-patterns-menu ul.active {
      display: block; }
  .neutron-patterns-menu.search-active {
    height: calc(100% - 90px); }

.neutron-code-frame {
  position: fixed;
  left: 0;
  bottom: -50%;
  width: 100%;
  height: 50%;
  background: #333;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 20px;
  z-index: 100;
  color: #CCC;
  -webkit-transition: bottom 0.5s;
  -moz-transition: bottom 0.5s;
  -ms-transition: bottom 0.5s;
  transition: bottom 0.5s;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box; }
  .neutron-code-frame.active {
    bottom: 0; }
  .neutron-code-frame--close {
    text-align: right;
    position: fixed;
    right: 33px; }
    .neutron-code-frame--close__link {
      color: #CCC; }
      .neutron-code-frame--close__link:hover {
        color: #CCC; }
  .neutron-code-frame--patterns {
    font-size: 0.85em; }
    .neutron-code-frame--patterns a {
      color: #CCC; }
    .neutron-code-frame--patterns #neutron-dependencies-list a {
      text-decoration: underline; }
  .neutron-code-frame .neutron-code--nav {
    list-style: none;
    margin: 0;
    padding: 0; }
    .neutron-code-frame .neutron-code--nav:before, .neutron-code-frame .neutron-code--nav:after {
      content: " ";
      display: table; }
    .neutron-code-frame .neutron-code--nav:after {
      clear: both; }
  .neutron-code-frame .neutron-code--item {
    display: block;
    float: left;
    background-color: #CCC;
    margin-left: 2px; }
    .neutron-code-frame .neutron-code--item:first-child {
      border-top-right-radius: 0;
      border-top-left-radius: 4px;
      margin-left: 0; }
    .neutron-code-frame .neutron-code--item:last-child {
      border-top-right-radius: 4px; }
    .neutron-code-frame .neutron-code--item.active {
      background-color: #272822; }
      .neutron-code-frame .neutron-code--item.active a {
        color: white; }
    .neutron-code-frame .neutron-code--item a {
      display: block;
      width: 100%;
      height: 100%;
      padding: 10px;
      color: black;
      text-decoration: none;
      font-weight: bold; }
  .neutron-code-frame .neutron-code--list {
    list-style: none;
    padding: 0;
    margin: 0; }
    .neutron-code-frame .neutron-code--list li {
      overflow: auto; }
  .neutron-code-frame .neutron-code--documentation {
    padding: 1em;
    background-color: #272822;
    color: #f8f8f2;
    border-radius: 0.3em;
    border-top-left-radius: 0;
    font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
    text-align: left;
    word-spacing: normal;
    word-break: normal;
    word-wrap: normal;
    line-height: 1.5; }

.neutron-search-wrapper {
  position: fixed;
  bottom: 35px;
  left: -173px;
  z-index: 3;
  -webkit-transition: bottom 0.5s ease-out;
  -moz-transition: bottom 0.5s ease-out;
  -ms-transition: bottom 0.5s ease-out;
  transition: bottom 0.5s ease-out;
  -webkit-transition: left 0.5s ease-out;
  -moz-transition: left 0.5s ease-out;
  -ms-transition: left 0.5s ease-out;
  transition: left 0.5s ease-out; }
  .neutron-search-wrapper.active {
    left: 0; }
  .neutron-search-wrapper .neutron-search {
    position: relative;
    background-color: #333;
    padding: 10px;
    width: 173px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box; }
    .neutron-search-wrapper .neutron-search input {
      border-radius: 0;
      -webkit-appearance: none;
      border: none;
      width: 100%;
      height: 33px; }

.neutron-qr-code-frame {
  position: fixed;
  bottom: 35px;
  left: -173px;
  width: 173px;
  height: 173px;
  background-color: #333;
  padding: 10px;
  -webkit-transition: left 0.5s;
  -moz-transition: left 0.5s;
  -ms-transition: left 0.5s;
  transition: left 0.5s; }
  .neutron-qr-code-frame.active {
    left: 0; }
  .neutron-qr-code-frame #qrcode {
    background-color: white;
    padding: 5px; }
