<div class="democritus-info-bar active">
	<div class="democritus-info-bar--close">
		<a href="javascript:;" class="democritus-info-bar--close__link">X</a>
	</div>
	<div class="democritus-info-bar--patterns">
		<p>Dependencies: <span id="democritus-dependencies-list"></span></p>
	</div>

	<div class="democritus-code">
		<ul class="democritus-code--nav">
			<li class="democritus-code--item"><a href="#html">HTML</a></li>
			<li class="democritus-code--item"><a href="#handlebars">Handlebars</a></li>
			<li class="democritus-code--item"><a href="#documentation">Documentation</a></li>
		</ul>
	</div>
</div>
