<section class="comments section">
	<div class="comments-container" id="comments-container">
		<h2 class="section-title">59 Comments</h2>
		{{> molecules/forms/comment-form }}
		<ul class="comment-list">
			{{#each listItems}}
				{{> molecules/components/single-comment }}
			{{/each}}
		</ul>
	</div>
	{{> molecules/navigation/pagination }}
</section>
