{{!!
  # Multiple layouts support
  Neutron supports multiple layouts. You just need to add a layout property in your json file related to the partial and it will render in your template file.

  # contentFor helper
  When you want to print something from your pattern in your layout, you can do it using the `contentFor` helper. After that, just add the helper `outputFor` in your layout.

  ## Example:

  *Pattern file:*

  > &lbrace;&lbrace;contentFor "ruleName"&rbrace;&rbrace;
  > 	... content or markup goes here
  > &lbrace;&lbrace;/contentFor&rbrace;&rbrace;

  *Layout file:*

  > &lbrace;&lbrace;outputFor "ruleName"&rbrace;&rbrace;
}}
{{ render "atoms/text/headline" }}

<p>This is a clean layout version. In Neutron you're able to create many layout styles letting you decide the layout you want to use in your templates!</p>

{{# contentFor "css"}}
<!-- This block is instantiated in pattern page, but this element will be rendered wherever you decide by adding the **outputFor** helper. In this case the result is the header element. -->
<style>
	body > p {
		font-size: 18px;
		color: red;
	}
</style>
{{/contentFor}}
