<div class="page" id="page">
	{{> organisms/global/header }}
	<div role="main">
		<div class="l-two-col">
			<div class="l-main">
				<article class="article">
					<header class="article-header">
						<h1>Article Headline Lorem ipsum dolor sit aweofij</h1>
						{{> molecules/text/byline-author-time }}
					</header>
					{{> organisms/article/article-body }}
				</article><!--end .article-->
				{{> molecules/components/social-share }}
				{{> organisms/comments/sticky-comment }}
				{{> organisms/comments/comment-thread }}
			</div><!--end l-main-->

			<div class="l-sidebar">
				{{> organisms/sections/related-posts }}
				{{> organisms/sections/recent-tweets }}
			</div><!--end l-sidebar-->
		</div><!--end l-two-col-->
	</div><!--End role=main-->
	{{> organisms/global/footer }}
</div>
