{{!!
  Simple anchor element to link as an anchor, internal url or external url without extra styles.

  * **url** (String)
  _Supported values:_ A valid URL.
  * **text** (String)
  _Supported values:_ A text that represents the url.
  * **styleModifier** (String)
  _Supported values:_ If necessary to add classes to anchor atom, add it using style modifier.
}}
<a{{#if styleModifier}} class="{{styleModifier}}"{{/if}} href="{{url}}">{{text}}</a>
