{{!!
  Media box organism to be used as a multiple option to 2 column content.

  * **boxTitle** (String)
  _Supported values:_ Text to be used as main title.
  * **collection** (Array)
  _Supported values:_ An object containing image atom object, headline text and description text.
  * **collection.image** (Object)
  _Supported values:_ Image supports all properties of `atoms/media/image` atom.
  * **collection.headline** (String)
  _Supported values:_ Headline text
  * **collection.text** (String)
  _Supported values:_ Description text
}}
<div class="col-md-6">
	<div class="page-header">
		{{ render "atoms/text/headline" level=2 text=boxTitle }}
	</div>

	{{#each collection}}
		{{ render "molecules/blocks/media" }}
	{{/each}}
</div>
