<div class="row">
	{{#each thumbnails }}
	<div class="col-sm-4 col-xs-12">
		<div class="thumbnail">
			{{ render "atoms/media/image" }}
			<div class="caption">
				{{#with headline}}
					{{ render "atoms/text/headline" level=3 }}
				{{/with}}

				{{#if text}}
				<p>{{text}}</p>
				{{/if}}

				{{#with button}}
				<p>
					{{ render "atoms/text/link" }}
				</p>
				{{/with}}
			</div>
		</div>
	</div>
	{{/each}}
</div>
