{{!!
  Thumbnail molecule to print boxes with image, headline, text and button.

  * **thumbnails** (Array)
  _Supported values:_ An array containing headline atom object, text and button object.
  * **thubnails.headline** (Object)
  _Supported values:_ The headline object supports the `text` property containing the headline content.
  * **thubnails.text** (String)
  _Supported values:_ The text to be added to thumbnail molecule.
  * **thubnails.button** (Object)
  _Supported values:_ The button object has the same properties supported by `atoms/text/link`.
}}
<div class="row">
	{{#each thumbnails }}
	<div class="col-sm-4 col-xs-12">
		<div class="thumbnail">
			{{ render "atoms/media/image" }}
			<div class="caption">
				{{#with headline}}
					{{ render "atoms/text/headline" level=3 }}
				{{/with}}

				{{#if text}}
				<p>{{text}}</p>
				{{/if}}

				{{#with button}}
				<p>
					{{ render "atoms/text/link" }}
				</p>
				{{/with}}
			</div>
		</div>
	</div>
	{{/each}}
</div>
