<div class="page" id="page">
	{{> organisms/global/header }}
	<div role="main">
		<h1 class="section-title">Our Outdoor Blog</h1>
		{{# index }}{{/index}}
		<div class="l-two-col">
			<div class="l-main">
				<section class="section latest-posts">

					<ul class="post-list">
						{{#each latest-posts}}
							<li>{{> molecules/blocks/media-block }}</li>
						{{/each}}
					</ul>
					<a href="#" class="text-btn">View more posts</a>
				</section>
				{{> molecules/navigation/pagination }}
			</div><!--end l-main-->

			<div class="l-sidebar">
				{{> organisms/sections/recent-tweets }}
			</div><!--end l-sidebar-->
		</div><!--end two-col-->
	</div><!--End role=main-->
	{{> organisms/global/footer }}
</div>
