<div class="jumbotron">
	{{ render "atoms/text/headline" level=1 text="Hello Neutron!"}}

	{{ render "atoms/text/paragraph" text="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum at nam impedit saepe fugiat dolore nemo quibusdam ipsam, exercitationem magni nostrum dolorum animi dolores corporis quod, architecto consequatur mollitia minus." }}
	<p>
		{{ render "atoms/text/link" styleModifier="btn btn-primary btn-lg" url="#" text="Learn more"}}
	</p>
</div>
