{{!!
  Jumbotron is highlight box.

  * **headline** (Object)
  _Supported values:_ headline receives an object that contains all properties that can be used in `atoms/text/headline`.
  * **intro** (Object)
  _Supported values:_ intro receives an object that contains all properties that can be used in `atoms/text/paragraph`.
}}
<div class="jumbotron">
	{{#with headline}}
	{{ render "atoms/text/headline" }}
	{{/with}}

	{{#with intro}}
	{{ render "atoms/text/paragraph" }}
	{{/with}}
	<p>
		{{ render "atoms/text/link:btn btn-primary btn-lg" url="#" text="Learn more"}}
	</p>
</div>
