.eyecatching_insert {
	display: none;
}

.csstransitions .eyecatching_insert {
	display: block;
}

.no-csstransitions .eyecatching_insert {
	display: block;
	.ei_chart_container {
		bottom: -280px;
	}
	> * {
		-webkit-transform: none !important;
		-ms-transform: none !important;
		transform: none !important;
	}
}

@-webkit-keyframes ei_chart_mask {
	0% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
	}
	100% {
	-webkit-transform: translateX(100%);
	transform: translateX(100%);
	}
}


@keyframes ei_chart_mask {
	0% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
	}

  100% {
	-webkit-transform: translateX(100%);
	transform: translateX(100%);
  }
}


@-webkit-keyframes ei_poi {
  0% {
	-webkit-transform: translateY(100%);
	transform: translateY(100%);
	opacity: 1;
  }

  25% {
	-webkit-transform: translateY(0);
	transform: translateY(0);
  }

  75% {
	-webkit-transform: translateY(0);
	transform: translateY(0);
	opacity: 1;
  }

  100% {
	-webkit-transform: translateY(0);
	transform: translateY(0);
	opacity: 0;
  }
}


@keyframes ei_poi {
  0% {
	-webkit-transform: translateY(100%);
	transform: translateY(100%);
	opacity: 1;
  }

  25% {
	-webkit-transform: translateY(0);
	transform: translateY(0);
  }

  75% {
	-webkit-transform: translateY(0);
	transform: translateY(0);
	opacity: 1;
  }

  100% {
	-webkit-transform: translateY(0);
	transform: translateY(0);
	opacity: 0;
  }
}


.eyecatching_insert {
  &.active {
	.ei_chart_container {
	  -webkit-transform: translateY(0);
	  -ms-transform: translateY(0);
	  transform: translateY(0);
	}
	.ei_chart_mask {
	  -webkit-animation: ei_chart_mask 3s linear 1 forwards;
	  animation: ei_chart_mask 3s linear 1 forwards;
	}
	.ei_subscription_container {
	  padding-bottom: 280px;
	  .ei_marker {
		height: 100%;
	  }
	}
	.ei_poi {
	  -webkit-animation: ei_poi 1.5s linear 1 forwards;
	  animation: ei_poi 1.5s linear 1 forwards;
	}
	.ei_toggle {
	  background-image: url(close.png) !important;
	}
  }
  &.shown {
	.ei_chart_mask {
	  -webkit-transform: translateX(100%) !important;
	  -ms-transform: translateX(100%) !important;
	  transform: translateX(100%) !important;
	  -webkit-animation: none !important;
	  animation: none !important;
	}
	.ei_marker {
	  height: 100% !important;
	  -webkit-transition: none !important;
	  transition: none !important;
	  -webkit-transition-delay: 0s !important;
	  transition-delay: 0s !important;
	}
	.ei_poi {
	  display: none !important;
	}
  }
  .ei_chart_container {
	position: fixed;
	z-index: 5000;
	bottom: 0;
	left: 0;
	overflow: hidden;
	width: 100%;
	height: 280px;
	-webkit-transition: -webkit-transform 0.75s;
	transition: transform 0.75s;
	-webkit-transform: translateY(280px);
	-ms-transform: translateY(280px);
	transform: translateY(280px);
	opacity: 0.925;
	div {
	  position: absolute;
	  top: 0;
	  left: 0;
	}
	.ei_chart_bg {
	  width: 100%;
	  height: 280px;
	  background: url(chart_bg.png);
	  background-repeat: repeat;
	  background-position: bottom left;
	}
	.ei_chart {
	  z-index: 2;
	  overflow: hidden;
	  width: 2920px;
	  height: 280px;
	  -webkit-transform: rotateZ(360deg);
	  background: url(chart.png);
	  background: url(chart.svg), -webkit-linear-gradient(transparent, transparent);
	  background: url(chart.svg), linear-gradient(transparent, transparent);
	  background-repeat: no-repeat;
	  background-position: bottom left;
	  .ei_poi {
		width: 0;
		height: 100%;
		-webkit-transform: translateY(100%) ;
		-ms-transform: translateY(100%);
		transform: translateY(100%);
		border-right: 1px dotted #e39318;
	  }
	  .ei_poi1 {
		left: 159px;
		-webkit-animation-delay: 1.25s;
		animation-delay: 1.25s;
	  }
	  .ei_poi2 {
		left: 398px;
		-webkit-animation-delay: 1.45s;
		animation-delay: 1.45s;
	  }
	  .ei_poi3 {
		left: 520px;
		-webkit-animation-delay: 1.6s;
		animation-delay: 1.6s;
	  }
	  .ei_poi4 {
		left: 799px;
		-webkit-animation-delay: 1.65s;
		animation-delay: 1.65s;
	  }
	  .ei_poi5 {
		left: 838px;
		-webkit-animation-delay: 1.85s;
		animation-delay: 1.85s;
	  }
	  .ei_poi6 {
		left: 1000px;
		-webkit-animation-delay: 2.1s;
		animation-delay: 2.1s;
	  }
	  .ei_poi7 {
		left: 1438px;
		-webkit-animation-delay: 2.15s;
		animation-delay: 2.15s;
	  }
	  .ei_poi8 {
		left: 2119px;
		-webkit-animation-delay: 2.25s;
		animation-delay: 2.25s;
	  }
	  .ei_poi9 {
		left: 2279px;
		-webkit-animation-delay: 2.4s;
		animation-delay: 2.4s;
	  }
	}
	.ei_chart_mask {
	  z-index: 3;
	  left: 0;
	  width: 100%;
	  height: 280px;
	  background-image: url(chart_bg.png);
	  background-repeat: repeat;
	  background-position: bottom left;
	}
  }
  .ei_subscription_container {
	position: fixed;
	z-index: 5001;
	bottom: 0;
	padding-bottom: 0;
	-webkit-transition: padding-bottom 0.75s;
	transition: padding-bottom 0.75s;
	.ei_toggle {
	  position: absolute;
	  z-index: 5002;
	  top: 0;
	  right: 0;
	  display: block;
	  width: 48px;
	  height: 48px;
	  cursor: pointer;
	  background: #e39318 url(open.png) no-repeat center;
	  &.active {
		background-image: url(close.png);
	  }
	  &:hover {
		background-color: #e29317;
	  }
	}
	.ei_marker {
	  position: absolute;
	  top: 48px;
	  display: block;
	  overflow: hidden;
	  box-sizing: border-box;
	  width: 100%;
	  height: 0;
	  -webkit-transition: height 1.875s;
	  transition: height 1.875s;
	  -webkit-transition-delay: 3.75s;
	  transition-delay: 3.75s;
	  border-right: 1px solid #e39318;
	}
	a.ei_subscribe {
	  text-decoration: underline;
	  display: block;
	  padding: 0 12px 12px 24px;
	  color: white;
	  background-color: #8996a0;
	}
	h3 {
	  font-weight: bold;
	  font-size: 1rem;
	  display: table-cell;
	  width: 425px;
	  height: 48px;
	  padding-right: 75px;
	  padding-left: 24px;
	  vertical-align: middle;
	  background-color: #8996a0;
	}
  }
}

@media (max-width: 768px) {
	.ei_poi {
		display: none;
	}
}

@media (max-width: 736px) {
  .eyecatching_insert {
	&.active {
	  .ei_subscription_container {
		padding-bottom: 120px;
	  }
	  .ei_chart_mask {
		-webkit-animation: ei_chart_mask 2.4s linear 1 forwards;
		animation: ei_chart_mask 2.4s linear 1 forwards;
	  }
	}
	.ei_chart_container {
	  width: 100%;
	  height: 120px;
	  -webkit-transition: -webkit-transform 0.75s;
	  transition: transform 0.75s;
	  -webkit-transform: translateY(280px);
	  -ms-transform: translateY(280px);
	  transform: translateY(280px);
	  .ei_chart_bg {
		height: 120px;
		background-image: url(chart_bg_mobile.png);
	  }
	  .ei_chart {
		width: 900px;
		height: 120px;
		background-image: url(chart_mobile.svg), -webkit-linear-gradient(transparent, transparent);
		background-image: url(chart_mobile.svg), linear-gradient(transparent, transparent);
		background-size: 900px 120px;
		.ei_poi {
		  display: none;
		}
	  }
	  .ei_chart_mask {
		height: 120px;
		background-image: url(chart_bg_mobile.png);
	  }
	}
	.ei_subscription_container {
	  height: auto;
	  margin-left: 5px;
	  .ei_subscribe {
		padding-top: 8px !important;
	  }
	}
  }
}
