{{!!
  Brand style link atom.

  * **url** (String)
  _Supported values:_ A valid URL.
  * **brand** (String)
  _Supported values:_ A text that represents the brand.
}}
<a class="navbar-brand" href="{{url}}">{{brand}}</a>
