{{!!
  Search form molecule with a search input and a submit button.
}}
<form class="navbar-form navbar-left" role="search">
	<div class="form-group">
		{{ render "atoms/forms/input:form-control" type="text" placeholder="Search" }}
	</div>

	{{ render "atoms/forms/button:btn-default" type="submit" text="Submit"}}
</form>
