$burnt-sienna: #EB7260;
$malibu: #77C5F7;
$white: #FFFFFF;
$heavy-metal: #272822;
$pickled-bluewood: #354458;
$jungle-green: #29ABA4;
$flamingo: #F2671F;

$bgcolor: $pickled-bluewood;
$txtcolor: $white;
$tab: $jungle-green;
$tab-color: $white;
$tab-active: $heavy-metal;
$active-navigation: $burnt-sienna;
$menu-border: $burnt-sienna;
$disabled-svg-fill: $white;
$documentation-bg-color: $heavy-metal;
$documentation-color: $malibu;
$documentation-color-block: $jungle-green;
$documentation-color-bold: $white;
$documentation-font: arial, sans-serif;
$link-color: $burnt-sienna;
$documentation-link-color: $flamingo;
$input-text-color: $pickled-bluewood;
$dependencies-list-color: $malibu;
$code-frame-bg: $pickled-bluewood;
$code-frame-color: $malibu;
$lightbox-overlay-bg: rgba(0, 0, 0, 0.65);

$buttonSize: 33px;
$gap: 2px;
$menuWidth: 210px;

@import "navigation";
