@import "mixins";
@import "prism";

$prefix: democritus;

$bgcolor: #333;
$txtcolor: #CCC;
$tab: #CCC;
$tab-active: #272822;
$activeNavigation: orange;

$buttonSize: 33px;
$gap: 2px;
$menuWidth: 173px;

.fa {
	span {
		display: none;
	}
}

.#{$prefix}-code-frame,
.#{$prefix}-patterns-menu {
	* {
		@include prefix(box-sizing, border-box);
	}
	
	a:not(.fa),
	p {
		font-family: Arial, sans-serif;
	}

	a {
		text-decoration: none;
	}
}

.#{$prefix}-start-button {
	position: fixed;
	bottom: 0;
	left: 0;
	width: $buttonSize;
	height: $buttonSize;
	color: white;
	text-align: center;
	background-color: $bgcolor;
	line-height: $buttonSize !important;
	z-index: 2;
	text-decoration: none !important;

	span {
		display: none;
	}
}

.#{$prefix}-navigation {
	position: fixed;
	bottom: 0;
	left: (($buttonSize*3) + ($gap*3)) * -1;
	z-index: 1;

	&.active {
		left: $buttonSize + $gap;
	}

	a {
		float: left;
		display: block;
		width: $buttonSize;
		height: $buttonSize;
		background-color: $bgcolor;
		color: white;
		text-align: center;
		line-height: $buttonSize;
		margin-left: 2px;
		text-decoration: none !important;

		&:first-child {
			margin-left: 0;
		}

		&.active {
			color: $activeNavigation;
		}
	}	
}

.#{$prefix}-start-button,
.#{$prefix}-navigation {
	@include prefix(transition, bottom 0.5s ease-out);
	@include prefix(transition, left 0.5s ease-out);

	&.#{$prefix}-frame-active {
		bottom: calc(50% + 2px);
	}
}

.#{$prefix}-patterns-menu,
.#{$prefix}-patterns-menu ul {
	list-style: none;
	margin: 0;
	padding: 0;	

	[data-item] > a {
		color: #CCC;
		text-transform: uppercase;
	}

	li {
		padding-left: 5px;
		
		a {
			font-family: Arial, sans-serif;
			display: block;
			padding: 5px;
			color: orange;
		}
	}
}

.#{$prefix}-patterns-menu {		
	width: $menuWidth;
	position: fixed;
	top: 0;	
	left: $menuWidth * -1;
	height: calc(100% - 35px);
	overflow: auto;		
	background-color: $bgcolor;
	margin: 0;
	color: $txtcolor;
	@include prefix(transition, height 0.5s);
	@include prefix(transition, left 0.5s ease-out);
	@include prefix(box-sizing, border-box);

	&.active {
		left: 0;
	}			

	&.democritus-frame-active {
		height: calc(50% - 37px);
	}

	ul {
		display: none;
		&.active {
			display: block;
		}
	}

	&.search-active {
		height: calc(100% - 90px);		
	}
}

.#{$prefix}-code-frame {
	position: fixed;
	left: 0;
	bottom: -50%;
	width: 100%;
	height: 50%;
	background: $bgcolor;
	overflow-x: hidden;
	overflow-y: auto;
	padding: 20px;
	z-index: 100;
	color: $txtcolor;
	@include prefix(transition, bottom 0.5s);
	@include prefix(box-sizing, border-box);

	&.active {
		bottom: 0;
	}

	&--close {
		text-align: right;		
		position: fixed;
		right: 33px;

		&__link {
			color: $txtcolor;
			&:hover {
				color: $txtcolor;				
			}
		}
	}

	&--patterns {
		font-size: 0.85em;
		a {
			color: $txtcolor;
		}
	}
	
	.#{$prefix}-code {
		&--nav {
			@include clearfix;
			list-style: none;
			margin: 0;
			padding: 0;

		}
		
		&--item {
			display: block;
			float: left;
			background-color: $tab;
			margin-left: 2px;
			border-top-right-radius: 4px;

			&:first-child {
				border-top-right-radius: 0;
				border-top-left-radius: 4px;
				margin-left: 0;
			}

			&.active {
				background-color: $tab-active;
				a {
					color: white;
				}
			}
			
			a {
				display: block;
				width: 100%;
				height: 100%;
				padding: 10px;
				color: black;
				text-decoration: none;
				font-weight: bold;
			}
		}
		
		&--list {
			list-style: none;
			padding: 0;
			margin: 0;
			
			li {
				overflow: auto;
			}
		}
	}
}

.#{$prefix}-search-wrapper {
	position: fixed;
	bottom: 35px;
	left: $menuWidth * -1;
	z-index: 3;
	@include prefix(transition, bottom 0.5s ease-out);
	@include prefix(transition, left 0.5s ease-out);

	&.active {
		left: 0;
	}

	.democritus-search {
		position: relative;
		background-color: $bgcolor;
		padding: 10px;
		width: $menuWidth;
		@include prefix(box-sizing, border-box);

		input {
			border-radius: 0;
			-webkit-appearance: none;
			border: none;
			width: 100%;
			height: 33px;
		}
	}
}
