@import "mixins";
@import "prism";

$prefix: neutron;

$bgColor: #333;
$txtColor: #CCC;
$tab: #CCC;
$tabActive: #272822;
$activeNavigation: orange;
$linkColor: orange;
$menuBorder: orange;
$disabledState: #666;

$buttonSize: 33px;
$gap: 2px;
$menuWidth: 173px;

##{$prefix} {
	z-index: 9999999;
}

body.#{$prefix}-off-canvas {
	@include prefix(transition, left 0.5s ease-out);
	left: 0;
	position: relative;

	&--active {
		left: $menuWidth;
	}

	&--overflow {
		overflow-x: hidden;
	}
}

.#{$prefix}-sticky-nav {
	position: fixed;
	top: 0;
	left: $menuWidth * -1;
	height: 100%;
	width: 0px;
	z-index: 1;

	@include prefix(transition, left 0.5s ease-out);

	&.active {
		left: 0;

		.#{$prefix}-button--start {
			left: $menuWidth;
		}
	}
}

.#{$prefix}-code-frame,
.#{$prefix}-menu {
	* {
		@include prefix(box-sizing, border-box);
	}

	a,
	p {
		font-family: Arial, sans-serif;
	}

	a {
		text-decoration: none;
	}
}

.#{$prefix}-button--start {
	position: fixed;
	bottom: 0;
	left: 0;
	width: $buttonSize;
	height: $buttonSize;
	color: white;
	text-align: center;
	background-color: $bgColor;
	z-index: 2;
	text-decoration: none !important;

	@include prefix(opacity, 0.8);
	@include prefix(transition, "bottom 0.5s ease-out, left 0.5s ease-out");

	&.active {
		@include prefix(opacity, 1);
	}

	svg path {
		fill: white;
	}

	&.#{$prefix}-frame-active {
		bottom: calc(50%);
	}
}

.#{$prefix}-navigation {
	padding: 2px 5px;
	width: 100%;
	border-bottom: 1px solid #fff;

	a {
		/* float: left; */
		display: inline-block;
		width: $buttonSize;
		height: $buttonSize;
		background-color: $bgColor;
		text-align: center;
		margin-left: 2px;
		text-decoration: none !important;
		color: white;

		svg path {
			fill: white;
		}

		&:first-child {
			margin-left: 0;
		}

		&.disabled {
			cursor: default;
			svg path {
				fill: $disabledState;
			}
		}
	}
}

.#{$prefix}-button--start,
.#{$prefix}-navigation a {
	line-height: 37px;

	span {
		display: none;
	}

	svg {
		width: 16px;
	}

	&.active svg path {
		fill: $activeNavigation;
	}
}

.#{$prefix}-menu {
	position: relative;
	width: $menuWidth;
	top: 0;
	height: 100%;
	background-color: $bgColor;
	margin: 0;
	color: $txtColor;
	padding-bottom: $buttonSize + 3px;
	border-right: 2px solid $menuBorder;

	@include prefix(transition, "height 0.5s ease-out, left 0.5s ease-out");
	@include prefix(box-sizing, border-box);

	&.active {
		left: 0;

		.#{$prefix}-menu--search  {
			left: 0;
		}
	}

	&.#{$prefix}-frame-active {
		height: calc(50%);

		.#{$prefix}-menu--search {
			bottom: calc(50% + 37px);
		}
	}
}

.#{$prefix}-menu--items {
	list-style: none;
	margin-left: 5px;
	padding-top: 10px;
	overflow: auto;
	height: calc(100% - 44px);

	ul {
		display: none;
	}

	li {
		padding-left: 15px;

		label {
			cursor: pointer;
			position: relative;
			padding-left: 12px;
		}

		a {
			font-family: Arial, sans-serif;
			display: block;
			color: $linkColor;
		}
	}

	[data-item] > label {
		color: $txtColor;
		text-transform: uppercase;
	}

	input[type=checkbox] {
		display: none;
		width: 0;
		height: 0;

		& + label::before {
			display: inline-block;
			position: absolute;
			left: -10px;
			top: 3px;
			content: "+";
			width: 15px;
			height: 15px;
			border-radius: 3px;
			font-weight: bold;
			line-height: 17px;
			text-align: center;
			color: $bgColor;
			background-color: $txtColor;
		}

		&:checked {
			& ~ ul {
				display: block;
			}

			& ~ label::before {
				content: "-";
				line-height: 14px;
			}
		}
	}

}

.#{$prefix}-menu--search {
	z-index: 3;

	&__input {
		position: relative;
		background-color: $bgColor;
		padding: 5px;
		@include prefix(box-sizing, border-box);

		input {
			border-radius: 0;
			-webkit-appearance: none;
			border: none;
			width: 100%;
			height: 33px;
		}
	}
}

.#{$prefix}-code-frame {
	position: fixed;
	left: 0;
	bottom: -50%;
	width: 100%;
	height: 50%;
	background: $bgColor;
	overflow-x: hidden;
	overflow-y: auto;
	padding: 20px;
	z-index: 1;
	color: $txtColor;
	@include prefix(transition, bottom 0.5s ease-out);
	@include prefix(box-sizing, border-box);

	&.active {
		bottom: 0;
	}

	&--patterns {
		font-size: 0.85em;
		a {
			color: $txtColor;
		}

		##{$prefix}-dependencies-list a {
			text-decoration: underline;
		}
	}

	.#{$prefix}-code {
		&--nav {
			@include clearfix;
			list-style: none;
			margin: 0;
			padding: 0;

		}

		&--item {
			display: block;
			float: left;
			background-color: $tab;
			margin-left: 2px;

			&:first-child {
				border-top-right-radius: 0;
				border-top-left-radius: 4px;
				margin-left: 0;
			}

			&:last-child {
				border-top-right-radius: 4px;
			}

			&.active {
				background-color: $tabActive;
				a {
					color: white;
				}
			}

			a {
				display: block;
				width: 100%;
				height: 100%;
				padding: 10px;
				color: black;
				text-decoration: none;
				font-weight: bold;
			}
		}

		&--list {
			list-style: none;
			padding: 0;
			margin: 0;

			li {
				overflow: auto;
			}
		}

		&--documentation {
			padding: 1em;
			background-color: #272822;
			color: #f8f8f2;
			border-radius: 0.3em;
			border-top-left-radius: 0;
			font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
			text-align: left;
			word-spacing: normal;
			word-break: normal;
			word-wrap: normal;
			line-height: 1.5;
		}
	}
}

.#{$prefix}-lightbox {
	z-index: 999999;

	&--content {
		position: fixed;
		top: -999px;
		left: 50%;
		width: 600px;
		height: auto;
		margin: -150px 0 0 -300px;
		background-color: $bgColor;
		padding: 10px;
		@include prefix(transition, top 1s ease-out);
		z-index: 4;
		@include prefix(box-sizing, border-box);
		color: white;

		&--headline,
		&--text {
			color: white;
			font-family: Arial, sans-serif;
		}

		&--headline {
			font-size: 24px;
			line-height: 1;
			margin-bottom: 12px;
		}

		&--text {
			font-size: 16px;
			line-height: 1;
			margin-bottom: 8px;
		}

	}

	&:after {
		position: fixed;
		top: -999px;
		left: 0;
		display: block;
		content: " ";
		width: 0;
		height: 0;
		background-color: rgba(0, 0, 0, 0.8);
		z-index: 3;
		@include prefix(transition, opacity 1s ease-out);
		opacity: 0;
	}

	&.active {
		&:after {
			top: 0;
			width: 100%;
			height: 100%;
			opacity: 1;
		}

		.#{$prefix}-lightbox--content {
			top: 40%;
			@media (max-width: 600px) {
				left: 0;
				margin-left: 0;
				width: 100%;
			}
		}
	}
}

.#{$prefix}-qr-code-frame {
	#qrcode {
		background-color: white;
		padding: 5px;
		text-align: center;
		width: 276px;
		height: 276px;
		margin: 0 auto;

		img {
			margin: 0 auto;
		}
	}
}

.#{$prefix}-button--close__link {
	position: absolute;
	top: 0;
	right: 0;
	width: $buttonSize;
	height: $buttonSize;
	background-color: white;
	color: $bgColor;

	span {
		display: none;
	}

	svg {
		width: 100%;
		height: 100%;
		path {
			fill: $bgColor;
		}
	}
}
