{{!!
  A fancy button.

  * **type** (String)
  _Supported values:_ button, submit
  * **styleModifier** (String)
  _Supported values:_ btn-default, btn-primary, btn-success, btn-info, btn-warning, btn-danger, btn-link
  * **text** (String)
  _Max length:_ 50 Characters
}}
<button type="{{type}}" class="btn {{styleModifier}}">{{text}}</button>
