<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{{#if pageTitle}}{{pageTitle}}{{else}}Page Title{{/if}}</title>

	<!-- ENGINE CODE -->
	{{> engineHeader}}
	<!-- END ENGINE CODE -->

	{{#if html }}
	<!-- HTML IS TRUE -->
	{{/if}}
</head>
<body>
	{{> yield }}

	<!-- ENGINE CODE -->
	{{> engineFooter}}
	<!-- END ENGINE CODE -->
</body>
</html>
