<nav class="navbar navbar-default">
	<div class="container-fluid">
		<div class="navbar-header">
			{{ render "molecules/navbar/toggle-button" }}
			{{ render "atoms/links/brand" text="Neutron" url=assetsPath }}
		</div>

		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			{{ render "molecules/navbar/menu-items" }}
			{{ render "molecules/forms/search-bar" }}
		</div>
	</div>
</nav>
